/********** MAIN **********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Arial", "Helvetica", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/********** FONTS **********/
html {
	font-size: 14px;
}

h1{
	font-size:3rem;
	font-weight: bold;
}
h2{
	font-size:2rem
}


a{
	font-size: 18px;
	cursor:pointer;
}

a:hover{
	
}

/********** CONTENT **********/

/***BUTTON STYLES**/
#topper {
	width:auto;
	color:rgba(225,57,0,.9);
	background-color: rgba(43, 59, 43, .4); /*******GREEEEENNN!!!***/
	margin-top: .5%;
	padding:.2%;
	font-family: 'Archivo Narrow' sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: .9rem;
    cursor: pointer;

}

p:hover{
	font-style: italic;
	-webkit-box-shadow: -2px 2px 3px 0px rgba(0,0,0 ,0.3);
	-moz-box-shadow: -2px 2px 3px 0px rgba(0,0,0 ,0.3);
	box-shadow: -2px 2px 3px 0px rgba(0,0,0 ,0.3);
}

/**holding sliders**/

.wrapper{
	margin-left:2%;
	padding:0 auto;
}

.wrapper2 {
	
	margin-left:2%;
	padding:0 auto;
}




/**slider containers**/
.container {
	width:35%;
	height: 700px;
	margin:5%;
	padding:2%;
	margin-top:3%;
	margin-bottom: 10%;
	float:left;
	text-align: center;
}

/********** SLIDERS **********/
.slide{
	height:600px;
	margin:0 auto;
	text-align: center;
}

.slide img{
	margin:0 auto;
	width:auto;
	height:auto;
	max-width:100%;
	max-height: 600px;
	height:auto;
	display: inline;
}



/******SLIDE CONTROLS*******/
.slider .slider_navdot{
	visibility: hidden;
}


/**POSITION OF RIGHT AND LEFT BUTTONS**/
.slider .slide_left,
.slider .slide_right{
	display:inline-block;

}

.slide_left{
	margin-right: 5%;

}

.slide_right {
	margin-left: 5%;
}


/** buttons/gif **/
#gifb{
	color: rgba(23, 33, 23, .8);
	margin-top: 3%;
	font-family: 'Archivo Narrow' sans-serif;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.gdg{

}

.gd1{
	margin-top:3%;
	display:none;
}

.gd1 img{
	height:200px;
}

.fg{

}

.fg1{
	margin-top:3%;
	display:none;
	width:auto;
	height:220px;

}

.fg1 img{
	height:200px;
	
}

.spg{

}

.s1{
	margin-top:3%;
	display:none;
}

.s1 img{
	height:200px;
}

.geogif{

}

.geo1{
	margin-top:3%;
	display:none;
}

.geo1 img{
	height:200px;
}

.peopleg{

}

.peopleg1{
	margin-top:3%;
	display:none;
}

.peopleg1 img{
	height:200px;
}

.greeng{

}

.greeng1{
	margin-top:3%;
	display:none;
}

.greeng1 img{
	height:200px;
}

.redg{

}

.redg1{
	margin-top:3%;
	display:none;
}

.redg1 img{
	height:200px;
}

.feelg{

}

.feelg1{
	margin-top:3%;
	display:none;
}

.feelg1 img{
	height:200px;
}

.formg{

}

.formg1{
	margin-top:3%;
	display:none;
}

.formg1 img{
	height:200px;
}

.machineryg{

}

.machineryg1{
	margin-top:3%;
	display:none;
}

.machineryg1 img{
	height:200px;
}

.lightg{

}

.lightg1{
	margin-top:3%;
	display:none;
}

.lightg1 img{
	height:200px;
}

.natureg{

}

.natureg1{
	margin-top:3%;
	display:none;
}

.natureg1 img{
	height:200px;
}

.sportg{

}

.sportg1{
	margin-top:3%;
	display:none;
}

.sportg1 img{
	height:200px;
}

.surfingg{

}

.surfingg1{
	margin-top:3%;
	display:none;
}

.surfingg1 img{
	height:200px;
}

/**counter**/

#fleftCount{
}

.numbers{
	margin:0 auto;
	font-size: 5rem;
	font-family: 'Archivo Narrow' sans-serif;
    font-weight: 700;
    top:10%;
    opacity: .7;

}


/** INVERT SCROLL **/

.howto{
	position:fixed;
	width:auto;
	margin-left:48%;
	top:50%
}


.panelCon{
    position: fixed;
    bottom: 30%;
    left:0;
    width: 100%;
    height:auto;
    z-index:-100;
    pointer-events:none;
}
.panel {
    width: 100%;
    height:auto;
}
.panel h1 {
    width: 250px;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom:30%; /** adjust this margin to accomodate fitting text on different screen widths**/
    text-align: center;
    top: 10%;
    font-size: 2.7rem;
    font-family: 'Archivo Narrow' sans-serif;
    font-weight: 700;
    font-style: italic;
	opacity:.5;
	color: rgba(23, 33, 23, .8);
    
}

/**BUILD**/

.bon{
	position:fixed;
	margin-left:.5%;
	top:.5%;
}

.build{
    position: fixed;
    bottom:0;
    width: 5%;
    height:auto;
    pointer-events:none;
    margin-left: .5%;
    display: none;
    z-index: -100
}

.bzone {
    width: 100%;
    height:auto;

}

.bzone img{	
	max-width: 100px;
}


/***bg ***/

.bg{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    z-index: -1000;
}
.back {
    width: 100%;
}
.back h1 {
    width: 100px;
    position: relative;
    display: block;
    margin: 0 auto;
    font-family: 'Archivo Narrow' sans-serif;
    font-weight: 700;
    top:3%;
    left:48%;
}

#mp {
	background-color: white;
	color:rgba(225,57,0,.8);

}

#ff {
	background-color: rgba(23, 33, 23, .8);
	color:rgba(225,57,0,.8);
}

#gr {
    background-color: white;
	color:rgba(225,57,0,.8);
}

#sg {
    background-color:rgba(225,57,0,.8);
    color: white

}

#gf {
    background-color:rgba(225,57,0,.8);
    color: white
}

#ln {
    background-color: rgba(23, 33, 23, .8);
	color:rgba(225,57,0,.8);
}

#ss {
    background-color:rgba(225,57,0,.8);
	color: white
}

#x {
	background-color: white;
	color:rgba(225,57,0,.8);

}


/**color:#e13900;** REEEEEDDDD?**/

/** RIGHT LEFT BUTTONS**/

button {
	color:rgba(225,57,0,.9);
	font-family: 'Archivo Narrow' sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    border: none;
    margin-bottom: 2%;
    letter-spacing: .7rem;
    text-align: center;
    background-color:rgba(225,57,0,0);
}

button:hover{
	color: rgba(23, 33, 23, .8);
	font-style: italic;
}




